@charset "utf-8";

@font-face {
	font-family: page-icon;
	src: url(font/iconfont.eot);
	src: url(font/iconfont.eot#iefix) format('embedded-opentype'), url(font/iconfont.svg#iconfont) format('svg'), url(font/iconfont.woff) format('woff'), url(font/iconfont.ttf) format('truetype');
}

.page-icon{
	font-family: page-icon!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pagination{
	margin: 10px 0;
}

.pagination a{
	display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    border: 1px solid #e2e2e2;
    margin-left: -1px;
    line-height: 28px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.pagination a:first-child{
	margin-left: 0 !important;
}

.pagination a:hover{
	color: #009688;
}

.pagination a.active{
	border: 1px solid #009688;
	color: #fff;
	background-color: #009688;
}

.pagination a.disabled{
	color: #d2d2d2 !important;
    cursor: not-allowed !important;
}
